################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SentimentTester/v14/.suo
/SentimentTester/bin/Debug
/SentimentTester/obj/Debug
/SentimentTester/backup.txt
/SentimentTester/db.config
/packages
